################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/prepend
/prepend/bin/Debug/netcoreapp3.0
/prepend/obj
/rename/bin/Debug/netcoreapp3.0
/rename/obj
/prepend.tests/bin/Debug/netcoreapp3.0
/prepend.tests/obj
